In [1]:
import pandas as pd
s = pd.Series([0,1,2,3,4])
s.replace(0,5)

0    5
1    1
2    2
3    3
4    4
dtype: int64

## isin (DataFrame의 각 요소가 값에 포함되어 있는지 여부.)

In [2]:
df = pd.DataFrame({'num_legs':["home.view_gig","home.view"], 'num_wings':["dd","dd"]},index=['falcon','dog'])
df

             num_legs num_wings
falcon  home.view_gig        dd
dog         home.view        dd

In [3]:
df.isin([0,2])

        num_legs  num_wings
falcon     False      False
dog        False      False

## 0 ~ 2 사이의 값을 포함하고 있으면 True , 아니면 False

In [4]:
import numpy as np
new_columns = ['eventcategory.sdf','isfirstactivity..asdf']

log = [new_columns].copy()
logg = new_columns[0].split(".")

In [5]:
# 파이썬의 import를 활용해 데이터 분석용 패키지인 판다스(Pandas)를 읽어옵니다.
import pandas as pd

# 판다스 데이터프레임(DataFrame)을 출력할 때, 최대 출력할 수 있는 컬럼을 100개로 늘려줍니다.
# 이렇게 해야 데이터를 분석할 때 출력해서 확인하기 편합니다.
pd.options.display.max_columns = 100
# 판다스(pandas)의 read_csv를 활용하여 크몽의 전환 정보(conversion) 관련 기록을 저장한 kmong-conversion.csv을 읽어옵니다.
# 이 데이터를 raw_log라는 이름의 변수에 할당합니다.
raw_log = pd.read_csv("data/kmong-conversion.csv")

# raw_log 변수에 할당된 데이터의 행렬 사이즈를 출력합니다.
# 출력은 (row, column) 으로 표시됩니다.
print(raw_log.shape)

# head()로 raw_data 데이터의 상위 5개를 띄웁니다.
raw_log.head()

(434244, 19)

,eventcategory,isfirstactivity,apppackagename,appversion,devicetype,devicemanufacturer,osversion,canonicaldeviceuuid,sourcetype,channel,params_campaign,params_medium,params_term,inappeventcategory,inappeventlabel,eventdatetime,rowuuid,isfirstgoalactivity,event_rank
0,goal,False,com.kmong.iOS,4.0.4,iPhone,Apple,iOS11.4.1,F36FAA62-ADAC-4AA5-9B00-1FD6CB7EE957,unattributed,unattributed,NaN,NaN,NaN,home.view,NaN,2018-09-28T00:00:00+09:00,fd2a188c-bc9b-4702-9c47-b546b2614817,False,True
1,goal,False,com.kmong.kmong,3.3.5,SM-N935S,samsung,Android7.0,8a871e50-0717-4aed-9bad-04ac3c3793be,unattributed,unattributed,NaN,NaN,NaN,gig_detail.view,41201.0,2018-09-28T00:00:00+09:00,e62dccef-dd70-4415-8a33-c8324ddaed38,False,True
2,goal,False,com.kmong.iOS,4.0.4,iPhone,Apple,iOS12.0,A9E5778A-8F3D-4597-9718-74BF953A9F64,unattributed,unattributed,NaN,NaN,NaN,inbox_detail.view,NaN,2018-09-28T00:00:00+09:00,14eb3197-db83-493a-b7be-83582960c40b,False,True
3,foreground,NaN,com.kmong.iOS,4.0.4,iPhone,Apple,iOS11.4.1,168761CB-CB67-4592-867D-52780D651297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-09-28T00:00:01+09:00,f9bb91af-248b-44dc-9f5c-1c00b37ea97b,NaN,True
4,goal,False,com.kmong.iOS,4.0.4,iPhone,Apple,iOS11.4.1,ACABB7C0-4C76-413A-B314-E5D6DA0D0E5D,viral,WEB,NaN,NaN,NaN,buyer_order_track.view,NaN,2018-09-28T00:00:02+09:00,236e9946-7801-4898-b609-06c8ab1139dc,False,True

**6. ```inappeventcategory``` 컬럼에 들어가 있는 정보를 여러 개의 컬럼으로 나눠주세요.**

```inappeventcategory```에는 사용자 액티비티를 나타내는 정보가 들어있습니다. 크몽에 방문한 고객이 상품 페이지를 보고 있는지, 구매를 진행중인지 등에 대한 정보가 이 컬럼에 담겨있다고 보시면 됩니다. 또한 ```inappeventcategory```에 있는 정보는 차후 퍼널(funnel) 데이터를 합치는데 사용되기도 합니다. 이 데이터를 정리해주세요. 정리 방식은 다음과 같습니다.

  * ```viewcategory``` - ```inappeventcategory```에서 언더바(_)를 기준으로 왼쪽 텍스트만 가져옵니다. 언더바가 없을 경우 점(.)의 왼쪽 텍스트만 가져옵니다.
  * ```viewid``` - ```inappeventcategory```에서 점(.)의 왼쪽 텍스트만 가져옵니다.
  * ```viewaction``` - ```inappeventcategory```에서 점(.)의 오른쪽 텍스트만 가져옵니다.

(팁: 파이썬에서 문자열을 나누는 기능인 [split](https://wikidocs.net/13#split)을 활용하면 생각보다 쉽게 문제를 풀 수 있습니다)
  
최종적으로는 다음의 결과가 나와야 합니다.

<table border="1" class="dataframe" style="float: left;">
    <thead>
        <tr style="text-align: right;">
            <th></th>
            <th>inappeventcategory</th>
            <th>viewcategory</th>
            <th>viewid</th>
            <th>viewaction</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>0</th>
            <td>home.view</td>
            <td>home</td>
            <td>home</td>
            <td>view</td>
        </tr>
        <tr>
            <th>1</th>
            <td>gig_detail.view</td>
            <td>gig</td>
            <td>gig_detail</td>
            <td>view</td>
        </tr>
        <tr>
            <th>2</th>
            <td>inbox_detail.view</td>
            <td>inbox</td>
            <td>inbox_detail</td>
            <td>view</td>
        </tr>
        <tr>
            <th>3</th>
            <td>NaN</td>
            <td>NaN</td>
            <td>NaN</td>
            <td>NaN</td>
        </tr>
        <tr>
            <th>4</th>
            <td>buyer_order_track.view</td>
            <td>buyer</td>
            <td>buyer_order_track</td>
            <td>view</td>
        </tr>
    </tbody>
</table>

In [6]:
#inappeventcategoryd에서 viewcategory를 추출하는 
#find_viewcategory라는 함수를 정희한다. 
def find_viewcategory(inappeventcategory):
    #만일 inaooeventcategory값이 비어있으면 (NAN)
    if pd.isnull(inappeventcategory):
        #아무런 처리를 하지 않고 빈 값(NaN)을 반환 
        return np.nan
    
    #inappeventcategory에서 점 (.)의 왼쪽을 가져옵니다. 
    #이 값을 chunk라는 이름의 변수에 할당합니다. 
    chunk = inappeventcategory.split(".")[0]
    
    #그리고 그 왼쪽에서 다시 한 번 언더바(_)의 왼쪽을 가져온다. 
    #이 값을 viewcategory라는 이름의 변수에 할당한다
    viewcategory = chunk.split("_")[0]
    
    #이 viewcategory라는 값을 반환한다. 
    return viewcategory

In [7]:
#find_viewcategory함수에 home.view라는 값을 인자로 넣으면 
#(.)점 기준으로 가장 왼쪽에 있는 home이라는 값을 반환한다. 
find_viewcategory("home.view")

'home'

In [8]:
#find_viewcategory함수에 gig_detail.view라는 값을 인자로 넣으면 
#언더바 (_)기준으로 가장 왼쪽에 있는 gig이라는 값을 반환한다. 
find_viewcategory("gig_detail.view")

'gig'

In [9]:
#inappeventcategory에서 viewid를 추출하는 
#find_view라는 함수를 정의한다. 
def find_viewid(inappeventcategory):
    #만일 inappeventcategory값이 비어있으면 (NaN)
    if pd.isnull(inappeventcategory):
        #아무런 처리를 하지 않고 빈 값 (NaN)을 반환한다. 
        return np.nan
    
    #inappeventcategory에서 점(.) 의 왼쪽을 가져온다 
    #이 값을 viewid라는 이름의 변수에 할당
    viewid = inappeventcategory.split(".")[0]
    
    #이 viewid라는 값을 반환한다. 
    return viewid

In [10]:
# find_viewid 함수에 home.view라는 값을 인자로 넣으면 
# 점 (.)기준으로 가장 왼쪽에 있는 home이라는 값을 반환한다. 
find_viewid("home.view")

'home'

In [11]:
# find_viewid 함수에 gig_detail.view라는 값을 인자로 넣으면
# 마찬가지로 점(.) 기준으로 가장 왼쪽에 있는 gig_detail이라는 값을 반환합니다.
find_viewid("gig_detail.view")

'gig_detail'

In [12]:
# inappeventcategoryd에서 viewaction을 추출하는
# find_viewaction이라는 함수를 정의합니다.
def find_viewaction(inappeventcategory):
    # 만일 inappeventcategory값이 비어있으면(NaN)
    if pd.isnull(inappeventcategory):
        # 아무런 처리를 하지 않고 빈 값(NaN)을 반환합니다.
        return np.nan
       # inappeventcategory에서 점(.)의 오른쪽을 가져옵니다.
    # 이 값을 viewaction이라는 이름의 변수에 할당합니다.
    viewaction = inappeventcategory.split(".")[1]
    
    # 이 viewaction이라는 값을 반환합니다.
    return viewaction

In [13]:
# find_viewaction 함수에 home.view라는 값을 인자로 넣으면
# 점(.) 기준으로 가장 오른쪽에 있는 view라는 값을 반환합니다
find_viewaction("home.view")

'view'

In [14]:
# find_viewaction 함수에 gig_detail.view라는 값을 인자로 넣으면
# 마찬가지로 점(.) 기준으로 가장 오른쪽에 있는 view라는 값을 반환합니다.
find_viewaction("gig_detail.view")

'view'

In [15]:
# 파이썬에서 수학 연산을 담당하는 numpy라는 패키지를 가져옵니다.
# 이를 np라는 축약어로 사용합니다.
import numpy as np

# 위에서 구현한 세 개의 함수(find_viewcategory, find_viewid, find_viewaction)에
# 판다스(Pandas)의 apply를 활용하여 viewcategory, viewid, viewaction를 추출합니다.
# 이를 viewcategory, viewid, viewaction 라는 이름의 새로운 컬럼에 추가합니다.

raw_log['viewcategory'] = raw_log['inappeventcategory'].apply(find_viewcategory)
raw_log['viewid'] = raw_log['inappeventcategory'].apply(find_viewid)
raw_log['viewaction'] = raw_log['inappeventcategory'].apply(find_viewaction)

print(raw_log.shape)
raw_log[['inappeventcategory', 'viewcategory', 'viewid', 'viewaction']].head()

(434244, 22)

       inappeventcategory viewcategory             viewid viewaction
0               home.view         home               home       view
1         gig_detail.view          gig         gig_detail       view
2       inbox_detail.view        inbox       inbox_detail       view
3                     NaN          NaN                NaN        NaN
4  buyer_order_track.view        buyer  buyer_order_track       view

#########################################################################

**7. 필요하지 않은 컬럼을 버려주세요.**

여기까지 했으면 대부분의 컬럼이 잘 정리된 것 같습니다. 이제 남은 것은 필요하지 않은 컬럼을 버리고, 기존 컬럼의 이름을 직관적으로 수정하는 일들만 남았습니다. 먼저 필요하지 않은 컬럼을 제거하겠습니다. 다음의 컬럼을 데이터에서 제거해주세요.

* ```osversion``` - 이제 이 컬럼을 버린 뒤 ```osversion(clean)```을 사용할 것입니다.
* ```devicemanufacturer``` - 이제 이 컬럼을 버린 뒤 ```devicemanufacturer(clean)```을 사용할 것입니다.
* ```canonicaldeviceuuid``` - 이제 이 컬럼을 버린 뒤 ```userid```를 사용할 것입니다.
* ```channel``` - 이제 이 컬럼을 버린 뒤 ```channel(clean)```을 사용할 것입니다.
* ```event_rank``` - 이 컬럼은 애초부터 사용할 필요가 없기 때문에 제거해줘도 됩니다.

최종적으로는 다음의 결과가 나와야 합니다.

<table border="1" class="dataframe" style="float: left;">
    <thead>
        <tr style="text-align: right;">
            <th></th>
            <th>eventcategory</th>
            <th>isfirstactivity</th>
            <th>apppackagename</th>
            <th>appversion</th>
            <th>devicetype</th>
            <th>sourcetype</th>
            <th>params_campaign</th>
            <th>params_medium</th>
            <th>params_term</th>
            <th>inappeventcategory</th>
            <th>inappeventlabel</th>
            <th>eventdatetime</th>
            <th>rowuuid</th>
            <th>isfirstgoalactivity</th>
            <th>ostype(clean)</th>
            <th>osversion(clean)</th>
            <th>devicemanufacturer(clean)</th>
            <th>userid</th>
            <th>channel(clean)</th>
            <th>eventdatetime_year</th>
            <th>eventdatetime_month</th>
            <th>eventdatetime_day</th>
            <th>eventdatetime_hour</th>
            <th>eventdatetime_minute</th>
            <th>eventdatetime_second</th>
            <th>viewid</th>
            <th>viewaction</th>
            <th>viewcategory</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>0</th>
            <td>goal</td>
            <td>False</td>
            <td>com.kmong.iOS</td>
            <td>4.0.4</td>
            <td>iPhone</td>
            <td>unattributed</td>
            <td>NaN</td>
            <td>NaN</td>
            <td>NaN</td>
            <td>home.view</td>
            <td>NaN</td>
            <td>2018-09-27 15:00:00</td>
            <td>fd2a188c-bc9b-4702-9c47-b546b2614817</td>
            <td>False</td>
            <td>iOS</td>
            <td>11.4.1</td>
            <td>Apple</td>
            <td>F36FAA62-ADAC-4AA5-9B00-1FD6CB7EE957</td>
            <td>unattributed</td>
            <td>2018</td>
            <td>9</td>
            <td>27</td>
            <td>15</td>
            <td>0</td>
            <td>0</td>
            <td>home</td>
            <td>view</td>
            <td>home</td>
        </tr>
        <tr>
            <th>1</th>
            <td>goal</td>
            <td>False</td>
            <td>com.kmong.kmong</td>
            <td>3.3.5</td>
            <td>SM-N935S</td>
            <td>unattributed</td>
            <td>NaN</td>
            <td>NaN</td>
            <td>NaN</td>
            <td>gig_detail.view</td>
            <td>41201.0</td>
            <td>2018-09-27 15:00:00</td>
            <td>e62dccef-dd70-4415-8a33-c8324ddaed38</td>
            <td>False</td>
            <td>Android</td>
            <td>7.0</td>
            <td>Samsung</td>
            <td>8a871e50-0717-4aed-9bad-04ac3c3793be</td>
            <td>unattributed</td>
            <td>2018</td>
            <td>9</td>
            <td>27</td>
            <td>15</td>
            <td>0</td>
            <td>0</td>
            <td>gig_detail</td>
            <td>view</td>
            <td>gig</td>
        </tr>
        <tr>
            <th>2</th>
            <td>goal</td>
            <td>False</td>
            <td>com.kmong.iOS</td>
            <td>4.0.4</td>
            <td>iPhone</td>
            <td>unattributed</td>
            <td>NaN</td>
            <td>NaN</td>
            <td>NaN</td>
            <td>inbox_detail.view</td>
            <td>NaN</td>
            <td>2018-09-27 15:00:00</td>
            <td>14eb3197-db83-493a-b7be-83582960c40b</td>
            <td>False</td>
            <td>iOS</td>
            <td>12.0</td>
            <td>Apple</td>
            <td>A9E5778A-8F3D-4597-9718-74BF953A9F64</td>
            <td>unattributed</td>
            <td>2018</td>
            <td>9</td>
            <td>27</td>
            <td>15</td>
            <td>0</td>
            <td>0</td>
            <td>inbox_detail</td>
            <td>view</td>
            <td>inbox</td>
        </tr>
        <tr>
            <th>3</th>
            <td>foreground</td>
            <td>NaN</td>
            <td>com.kmong.iOS</td>
            <td>4.0.4</td>
            <td>iPhone</td>
            <td>NaN</td>
            <td>NaN</td>
            <td>NaN</td>
            <td>NaN</td>
            <td>NaN</td>
            <td>NaN</td>
            <td>2018-09-27 15:00:01</td>
            <td>f9bb91af-248b-44dc-9f5c-1c00b37ea97b</td>
            <td>NaN</td>
            <td>iOS</td>
            <td>11.4.1</td>
            <td>Apple</td>
            <td>168761CB-CB67-4592-867D-52780D651297</td>
            <td>NaN</td>
            <td>2018</td>
            <td>9</td>
            <td>27</td>
            <td>15</td>
            <td>0</td>
            <td>1</td>
            <td>NaN</td>
            <td>NaN</td>
            <td>NaN</td>
        </tr>
        <tr>
            <th>4</th>
            <td>goal</td>
            <td>False</td>
            <td>com.kmong.iOS</td>
            <td>4.0.4</td>
            <td>iPhone</td>
            <td>viral</td>
            <td>NaN</td>
            <td>NaN</td>
            <td>NaN</td>
            <td>buyer_order_track.view</td>
            <td>NaN</td>
            <td>2018-09-27 15:00:02</td>
            <td>236e9946-7801-4898-b609-06c8ab1139dc</td>
            <td>False</td>
            <td>iOS</td>
            <td>11.4.1</td>
            <td>Apple</td>
            <td>ACABB7C0-4C76-413A-B314-E5D6DA0D0E5D</td>
            <td>web</td>
            <td>2018</td>
            <td>9</td>
            <td>27</td>
            <td>15</td>
            <td>0</td>
            <td>2</td>
            <td>buyer_order_track</td>
            <td>view</td>
            <td>buyer</td>
        </tr>
    </tbody>
</table>